$colorTitle: #f4511E;
$colorHeader: #6200EE;
$colorTextLight:#eee;
$colorTextDark:#111;
$colorBackgroundCard:rgb(241, 234, 234);
$colorLinkActive:#e73f3f;
$primaryBackgroundColor:rgb(241, 234, 234);
$primaryStrongColor:red;
$errorColor:red;